---
import Layout from '../../layouts/Layout.astro';
import {format, parseISO} from "date-fns";
import {fr} from "date-fns/locale";
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
const posts = await Astro.glob('../../pages/post/*.md');
const nonDraftPosts = posts.filter((post) => !post.frontmatter.draft);
export const truncate = (txt: string | undefined, min: number) => {
    if (!txt) return '';
    if (txt.length > min) return `${txt.slice(0, min)}...`;
    return txt;
};

---

<Layout title='Tous les articles' description='Tous les articles' url='https://dereje.fr/'>
    <Header/>
    <main class="max-w-3xl mx-auto min-h-screen">
        {nonDraftPosts.map((p)=>{
            return (
            <div class={"my-6"}>
                <div class={"flex flex-col gap-2"}>
                    <a
                    href={p.url}
                    class="mt-0 text-neutral-600 flex items-center gap-2 text-underline-300 underline decoration-neutral-300 underline-offset-4 focus:decoration-rose-400 focus:outline-offset-6 hover:text-rose-500 transition-colors">
                    {p.frontmatter.title}
                    </a>
                    <p class={"m-0 text-sm text-neutral-600"}>{truncate(p.frontmatter.description, 100)}</p>
                    <time date-time={p.frontmatter.date} class="text-sm text-neutral-600">
                            {format(parseISO(p.frontmatter.date), 'd LLLL yyyy', { locale: fr })}
                    </time>
                </div>
            </div>
            )
        })} 
    </main>
    <Footer/>
</Layout>