---
import Layout from '../layouts/Layout.astro';
import About  from '../components/About.astro';
import Projects from '../components/Projects.astro';
import Posts from '../components/Posts.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="Dereje Getu Tadesse" description="Hey ! je suis dereje getu tadesse un développeur frontend. J'aime transformer des idées en réalités visuelles sur le web.", url='https://dereje.fr/'>
	<main class="max-w-3xl mx-auto">
		<Header/>
		<About/>
		<Projects/>
		<Posts/>
		<Footer/>
	</main>
</Layout>

