---
const words = [
    "Contactez-moi",
    "저에게 연락하세요",
];
---

        <a href={"mailto:hello@dereje.fr"} class={"flex no-underline text-rose-600 gap-4 w-max"}>
        <div  class="scrolling-text-container">
            <div class="scrolling-text">
                {words.map((word) => (
                    <div>
                        {word}
                    </div>
                ))}
                {words.map((word) => (
                    <div>
                        {word}
                    </div>
                ))}
            </div>
            <div class="fade-effect"></div>
        </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-send mt-1">
                <path d="m22 2-7 20-4-9-9-4Z"/>
                <path d="M22 2 11 13"/>
            </svg>
        </a>
