---
import SocialsLinks from "./Socials.astro";
import Spotify from "./Spotify/Spotify";
const currentYear = ()=>{
    return new Date().getFullYear()
}
---

<footer class={"flex flex-col justify-center items-center gap-7 mt-10 not-prose py-4"} role="contentinfo">
    <h2 class="sr-only">Informations du pied de page</h2>
    <a href={"/"}
          aria-label={"Lien de retour à l'accueil"}
          role="button"
          tab-index={0}>
          <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="30" height="30" rx="6" fill="#F43F5E"/>
            <path d="M11.4943 27H7.88494V16.8182H11.5241C12.5483 16.8182 13.4299 17.022 14.169 17.4297C14.9081 17.834 15.4766 18.4157 15.8743 19.1747C16.2753 19.9337 16.4759 20.8419 16.4759 21.8991C16.4759 22.9598 16.2753 23.8712 15.8743 24.6335C15.4766 25.3958 14.9048 25.9808 14.1591 26.3885C13.4167 26.7962 12.5284 27 11.4943 27ZM10.0376 25.1555H11.4048C12.0412 25.1555 12.5765 25.0429 13.0107 24.8175C13.4482 24.5888 13.7763 24.2358 13.995 23.7585C14.2171 23.2779 14.3281 22.6581 14.3281 21.8991C14.3281 21.1468 14.2171 20.532 13.995 20.0547C13.7763 19.5774 13.4498 19.2261 13.0156 19.0007C12.5814 18.7753 12.0462 18.6626 11.4098 18.6626H10.0376V25.1555ZM24.8219 20.1094C24.7523 19.8674 24.6545 19.6536 24.5286 19.468C24.4026 19.2791 24.2485 19.12 24.0662 18.9908C23.8873 18.8582 23.6818 18.7571 23.4498 18.6875C23.2211 18.6179 22.9675 18.5831 22.6891 18.5831C22.1687 18.5831 21.7114 18.7124 21.3169 18.9709C20.9258 19.2294 20.6209 19.6056 20.4022 20.0994C20.1834 20.59 20.074 21.1899 20.074 21.8991C20.074 22.6084 20.1818 23.2116 20.3972 23.7088C20.6126 24.206 20.9176 24.5855 21.312 24.8473C21.7064 25.1058 22.1721 25.2351 22.709 25.2351C23.1962 25.2351 23.6122 25.1489 23.9569 24.9766C24.3049 24.8009 24.57 24.554 24.7523 24.2358C24.9379 23.9176 25.0307 23.5414 25.0307 23.1072L25.4682 23.1719H22.8432V21.5511H27.1039V22.8338C27.1039 23.7287 26.915 24.4976 26.5371 25.1406C26.1593 25.7803 25.6389 26.2741 24.976 26.6222C24.3132 26.9669 23.5542 27.1392 22.699 27.1392C21.7445 27.1392 20.906 26.9287 20.1834 26.5078C19.4609 26.0836 18.8974 25.482 18.4931 24.7031C18.092 23.9209 17.8915 22.9929 17.8915 21.919C17.8915 21.0937 18.0108 20.358 18.2495 19.7116C18.4914 19.062 18.8295 18.5118 19.2637 18.0611C19.6979 17.6103 20.2033 17.2673 20.78 17.032C21.3567 16.7966 21.9815 16.679 22.6543 16.679C23.231 16.679 23.7679 16.7635 24.2651 16.9325C24.7623 17.0982 25.2031 17.3336 25.5875 17.6385C25.9753 17.9434 26.2918 18.3063 26.5371 18.7273C26.7824 19.1449 26.9398 19.6056 27.0094 20.1094H24.8219Z" fill="white"/>
        </svg>
    </a>
    <SocialsLinks/>
    <Spotify client:load/>
    <p class={"text-sm text-neutral-500"}>© {currentYear()} Dereje Getu Tadesse</p>
</footer>