---
const posts = await Astro.glob('../pages/post/*.md');
const nonDraftPosts = posts.filter((post) => !post.frontmatter.draft);
---

<div class={"flex flex-col my-12"}>
    <h3 class={"text-rose-500"}>
        Blog
    </h3>
    {nonDraftPosts.map((p)=>{
        return (
            <div class={"flex justify-between flex-wrap my-1"}>
                <a href={p.url} class="text-underline-300 text-neutral-800 underline decoration-neutral-300 underline-offset-4 focus:decoration-rose-400 focus:outline-offset-6 hover:text-rose-500 transition-colors">
                   <span>{p.frontmatter.title}</span>
                </a> 
            
            </div>
        )
    })} 
     <a href={"/posts"} class={"mt-6 text-neutral-600 flex items-center gap-2 text-underline-300 underline decoration-neutral-300 underline-offset-4 focus:decoration-rose-400 focus:outline-offset-6 hover:text-rose-500 transition-colors"}>
        Tous les articles   
     </a>
</div>